div#dice{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%; left: 50%;
	margin-left: -100px; /* (width + padding)/2 */
	margin-top: -100px; /* (height + padding)/2 */
    perspective: 800px;
    -webkit-perspective: 800px;
}

div.danmian{
    /*转动*/
    -webkit-animation: xuanzhuan 12s linear 12s infinite;
    animation: xuanzhuan 12s linear 12s infinite;
    -web1kit-animation-fill-mode:forwards;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

}

@-webkit-keyframes xuanzhuan
{
		0%{
		}
		100% {
        -webkit-transform-origin:0% 0%;
        transform-origin:0% 0%;
		-webkit-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
		transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
		}
}

div.xiaomian{
    background-color: cadetblue;
    float: left;
    width: 200px;
    height: 200px;
    /*border: solid 1px black;*/
    position: absolute;
    font-family: monospace sans-serif;
    text-align: center;
}


div#mian1{
        z-index: 6;
        -webkit-animation: yihao 15s ease 0s;
        -webkit-animation-fill-mode:forwards;
        background:url(../images/dice/dice1.png) no-repeat center;
        background-size: contain;
 }


div#mian2{
          z-index: 5;
         -webkit-animation: erhao 8s ease 0s;
         -webkit-animation-fill-mode:forwards;
         background:url(../images/dice/dice2.png) no-repeat center;
         background-size: contain;
}



div#mian3{
    z-index: 4;
    -webkit-animation: sanhao 9s ease 0s;
    -webkit-animation-fill-mode:forwards;
    background:url(../images/dice/dice3.png) no-repeat center;
    background-size: contain;

}



div#mian4{
    z-index: 3;
    -webkit-animation: sihao 10s ease 0s;
    -webkit-animation-fill-mode:forwards;
    background:url(../images/dice/dice4.png) no-repeat center;
    background-size: contain;
}




div#mian5{
    z-index: 2;
    -webkit-animation: wuhao 11s ease 0s;
    -webkit-animation-fill-mode:forwards;
    background:url(../images/dice/dice5.png) no-repeat center;
    background-size: contain;
}


div#mian6{
    z-index: 1;
    -webkit-animation: liuhao 12s ease 0s;
    -webkit-animation-fill-mode:forwards;
    background:url(../images/dice/dice6.png) no-repeat center;
    background-size: contain;
}




/*一到六号div动画*/
@-webkit-keyframes yihao
{
    0%{opacity: 0;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        height: 0px;
        }
    10% {width: 150px;
        height: 150px;
        }
    20% {width: 0px;
        height: 0px;
        -webkit-transform:rotate(-90deg); /* Safari �?Chrome */
        -ms-transform:rotate(-90deg); 	/* IE 9 */
        -moz-transform:rotate(-90deg); 	/* Firefox */
        -o-transform:rotate(-90deg);      	/* Opera */
        transform:rotate(-90deg);
        }
    30% {
        font-size: 0px;
        line-height: 0px;
         width: 200px;
          height: 200px;
        -webkit-transform:rotate(270deg); /* Safari �?Chrome */
        -ms-transform:rotate(270deg); 	/* IE 9 */
        -moz-transform:rotate(270deg); 	/* Firefox */
        -o-transform:rotate(270deg);      	/* Opera */
        transform:rotate(270deg);
        }
    40% {
       font-size: 100px;
       line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;

        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
        }
    50%{
    }
    60%{
        font-size: 150px;
        line-height: 200px;
        -webkit-transform:rotatey(-90deg); /* Safari �?Chrome */
        -ms-transform:rotatey(-90deg); 	/* IE 9 */
        -moz-transform:rotatey(-90deg); 	/* Firefox */
        -o-transform:rotatey(-90deg);      	/* Opera */
        transform:rotatey(-90deg);
        -webkit-transform-origin:0% 50%;
        transform-origin:0% 50%;
    }
    70%{
    }
    80%{
    }
    90%{
    }
    100%{opacity: 1;
        font-size: 150px;
        line-height: 200px;
        -webkit-transform:rotatey(-90deg); /* Safari �?Chrome */
        -ms-transform:rotatey(-90deg); 	/* IE 9 */
        -moz-transform:rotatey(-90deg); 	/* Firefox */
        -o-transform:rotatey(-90deg);      	/* Opera */
        transform:rotatey(-90deg);
        -webkit-transform-origin:0% 50%;
        transform-origin:0% 50%;
    }
}

@-webkit-keyframes erhao
{
    0%{opacity: 0;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        height: 0px;
    }
    20% {width: 150px;
        height: 150px;
    }
    40% {width: 0px;
        height: 0px;
        -webkit-transform:rotate(-90deg); /* Safari �?Chrome */
        -ms-transform:rotate(-90deg); 	/* IE 9 */
        -moz-transform:rotate(-90deg); 	/* Firefox */
        -o-transform:rotate(-90deg);      	/* Opera */
        transform:rotate(-90deg);
    }
    60% {
        font-size: 0px;
        line-height: 0px;
        width: 200px;
        height: 200px;
        -webkit-transform:rotate(270deg); /* Safari �?Chrome */
        -ms-transform:rotate(270deg); 	/* IE 9 */
        -moz-transform:rotate(270deg); 	/* Firefox */
        -o-transform:rotate(270deg);      	/* Opera */
        transform:rotate(270deg);
    }
    80% {
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    85%{
    }
    100%{opacity: 1;
        font-size: 150px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
        -webkit-transform:rotatex(-90deg); /* Safari �?Chrome */
        -ms-transform:rotatex(-90deg); 	/* IE 9 */
        -moz-transform:rotatex(-90deg); 	/* Firefox */
        -o-transform:rotatex(-90deg);      	/* Opera */
        transform:rotatex(-90deg);
    }
}


@-webkit-keyframes sanhao
{
    0%{opacity: 0;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        height: 0px;
    }
    20% {width: 150px;
        height: 150px;
    }
    40% {width: 0px;
        height: 0px;
        -webkit-transform:rotate(-90deg); /* Safari �?Chrome */
        -ms-transform:rotate(-90deg); 	/* IE 9 */
        -moz-transform:rotate(-90deg); 	/* Firefox */
        -o-transform:rotate(-90deg);      	/* Opera */
        transform:rotate(-90deg);
    }
    60% {
        font-size: 0px;
        line-height: 0px;
        width: 200px;
        height: 200px;
        -webkit-transform:rotate(270deg); /* Safari �?Chrome */
        -ms-transform:rotate(270deg); 	/* IE 9 */
        -moz-transform:rotate(270deg); 	/* Firefox */
        -o-transform:rotate(270deg);      	/* Opera */
        transform:rotate(270deg);
    }
    80% {
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    85%{
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    100%{opacity: 1;
        font-size: 150px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:100% 50%;
        transform-origin:100% 50%;
        -webkit-transform:rotatey(90deg); /* Safari �?Chrome */
        -ms-transform:rotatey(90deg); 	/* IE 9 */
        -moz-transform:rotatey(90deg); 	/* Firefox */
        -o-transform:rotatey(90deg);      	/* Opera */
        transform:rotatey(90deg);
    }
}



@-webkit-keyframes sihao
{
    0%{opacity: 0;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        height: 0px;
    }
    20% {width: 150px;
        height: 150px;
    }
    40% {width: 0px;
        height: 0px;
        -webkit-transform:rotate(-90deg); /* Safari �?Chrome */
        -ms-transform:rotate(-90deg); 	/* IE 9 */
        -moz-transform:rotate(-90deg); 	/* Firefox */
        -o-transform:rotate(-90deg);      	/* Opera */
        transform:rotate(-90deg);
    }
    60% {
        font-size: 0px;
        line-height: 0px;
        width: 200px;
        height: 200px;
        -webkit-transform:rotate(270deg); /* Safari �?Chrome */
        -ms-transform:rotate(270deg); 	/* IE 9 */
        -moz-transform:rotate(270deg); 	/* Firefox */
        -o-transform:rotate(270deg);      	/* Opera */
        transform:rotate(270deg);
    }
    80% {
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    85%{
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    100%{opacity: 1;
        font-size: 150px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 0%;
        transform-origin:50% 0%;
        -webkit-transform:rotatex(90deg); /* Safari �?Chrome */
        -ms-transform:rotatex(90deg); 	/* IE 9 */
        -moz-transform:rotatex(90deg); 	/* Firefox */
        -o-transform:rotatex(90deg);      	/* Opera */
        transform:rotatex(90deg);
    }
}


@-webkit-keyframes wuhao
{
    0%{opacity: 0;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        height: 0px;
    }
    20% {width: 150px;
        height: 150px;
    }
    40% {width: 0px;
        height: 0px;
        -webkit-transform:rotate(-90deg); /* Safari �?Chrome */
        -ms-transform:rotate(-90deg); 	/* IE 9 */
        -moz-transform:rotate(-90deg); 	/* Firefox */
        -o-transform:rotate(-90deg);      	/* Opera */
        transform:rotate(-90deg);
    }
    60% {
        font-size: 0px;
        line-height: 0px;
        width: 200px;
        height: 200px;
        -webkit-transform:rotate(270deg); /* Safari �?Chrome */
        -ms-transform:rotate(270deg); 	/* IE 9 */
        -moz-transform:rotate(270deg); 	/* Firefox */
        -o-transform:rotate(270deg);      	/* Opera */
        transform:rotate(270deg);
    }
    80% {
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    85%{
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    100%{opacity: 1;
        font-size: 150px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
        -webkit-transform:translateZ(200px); /* Safari �?Chrome */
        -ms-transform:translateZ(200px); 	/* IE 9 */
        -moz-transform:translateZ(200px); 	/* Firefox */
        -o-transform:translateZ(200px);      	/* Opera */
        transform:translateZ(200px);
    }
}




@-webkit-keyframes liuhao
{
    0%{opacity: 0;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        height: 0px;
    }
    20% {width: 150px;
        height: 150px;
    }
    40% {width: 0px;
        height: 0px;
        -webkit-transform:rotate(-90deg); /* Safari �?Chrome */
        -ms-transform:rotate(-90deg); 	/* IE 9 */
        -moz-transform:rotate(-90deg); 	/* Firefox */
        -o-transform:rotate(-90deg);      	/* Opera */
        transform:rotate(-90deg);
    }
    60% {
        font-size: 0px;
        line-height: 0px;
        width: 200px;
        height: 200px;
        -webkit-transform:rotate(270deg); /* Safari �?Chrome */
        -ms-transform:rotate(270deg); 	/* IE 9 */
        -moz-transform:rotate(270deg); 	/* Firefox */
        -o-transform:rotate(270deg);      	/* Opera */
        transform:rotate(270deg);
    }
    80% {
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        transform-origin:50% 50%;
        -webkit-transform-origin:50% 50%;
        -webkit-transform:rotate(0deg); /* Safari �?Chrome */
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -o-transform:rotate(0deg);      	/* Opera */
        transform:rotate(0deg);
    }
    85%{
        font-size: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        font-size: 150px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotatey(180deg); /* Safari �?Chrome */
        -ms-transform:rotatey(180deg); 	/* IE 9 */
        -moz-transform:rotatey(180deg); 	/* Firefox */
        -o-transform:rotatey(180deg);      	/* Opera */
        transform:rotatey(180deg);
    }
}
